html {
  background-color: #ffffff;
}
body {
  background-color: #ccffff;
  width: 700px;
  border: 5px solid black;
  font-family: "Sans-Serif",Tahoma, sans-serif;
}
h1 {
  padding: 20px 20px 0px 20px;
}
p, .social_media {
  padding-left: 20px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 10px 0px 0px 10px;

}
li {
  float: left;

  /*to the left of the one that comes ofter it*/
}
nav li a {
  font-weight: bold;
  padding: 16px;
  display: block;
  font-size: 32px;
  background-color: #80ffff;
  text-decoration: none;
}
nav li a:hover:not(.current){
  background-color: #99ffff;
}

li a.current {
  background-color: #000000;
  color: #ffffff;
}
.sm {text-decoration: none;}
.sm:hover{filter: invert(20%);}

#chessBoard {
  padding: 20px;
}

#yoloForm {
  background-color: #ffff00;
  width: 500px;
  margin: 20px;
  padding: 20px;
  border: 3px solid #73AD21;
}

#yoloForm input {
  width: 100%;
  clear: both;
}
