body {
  background-color: #d0efff;
  font-family: "Sans-Serif",Tahoma, sans-serif;
  height: 100%;
}

header {
  background: #ADD8E6;
  box-sizing: border-box;
}

header::after {
  content: '';
  display:table;
  clear: both;
}

.selected{
  background: #588bae;
}

.main{
  margin:30px;
  padding: 10px;
  background: #ADD8E6;
  font-size: 20px;
  overflow: auto;
}

.left {
    float: left;
}

#welcome{
  background: #d0efff;
}

.right {
    float: right;
}

h1{
  float: left;
  padding: 0;
  margin: 0;
  padding:25px;
  background: #d0efff;
  font-style: italic;
}

.clear {
    clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a{
  color: black;
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-right:20px;
  /*list-style: none;*/
}

nav{
  visibility: visible;
  display: block;
}

nav ul li {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  padding:25px;
  position: relative;
  border: 2px;
  transition: background 0.5s;
  transition: font-size 0.5s;
  border-radius: 5px;
}

nav ul li:hover:not(.selected){
  background:#d0efff;
  font-size: 20px;
}

.dropdownmenulist{
  all:unset;
  transition: 0.1s !important;
}

li.dropdownmenulist{
  display: inline-block !important;
  margin:1px !important;
  width: 100% !important;
  text-align: center !important;
  background: #ADD8E6 !important;
  cursor:pointer !important;
  font-size: 12px !important;
  border-radius: 5px !important;
}

li.dropdownmenulist:hover:not(.selected){
  background-color: #d0efff !important;
}

#beemessenger:hover:not(.selected){
  background:#ffba33 !important;
}
nav a {
  text-decoration: none;
  font-size: 14px;
}

.social_media{
  padding: 10px;
}

.sm{
  height: 75px;
  width: 75px;
  transition: filter 0.5s

}
.sm:hover{
  filter: invert(30%);
}

#yoloSpambot{
  background: #fbec5d;
  float: left;
  padding:10px;
  width: 45%;
}
#fractalGenerator{
  background: #99c199;
  float: right;
  padding:10px;
  width: 45%;
}

#chessBoard{
  margin: auto;
  width: 600px;
}

#yoloSpambot label{
  margin: 10px;
  display: block;
}

#yoloForm input[type = text]{
  width: 50%;
  margin-left:10px;
  height: 30px;
  font-size: 15px;
  transition:0.5s;
}

#yoloForm input[type = text]:focus{
  width: 65%;
  height: 30px;
  font-size: 15px;
  border-color: red;
  border-radius: 5px;
}

#yoloForm input[type = Number]{
  width: 20%;
  margin-left:10px;
  height: 30px;
  font-size: 15px;
  transition:0.5s;
}

#yoloForm input[type = Number]:focus{
  width: 25%;
  height: 30px;
  font-size: 15px;
  border-color: red;
  border-radius: 5px;
}

#yoloForm input[type = submit],#fractalGenerator button{
  width: 50%;
  margin:15px;
  height: 30px;
  font-size: 15px;
  transition:0.5s;
  background: #cccccc;
  border-color: #588bae;
}

#yoloForm input[type = submit]:hover,#fractalGenerator button:hover{
  width: 55%;
  height: 35px;
  font-size: 17px;
  transition:0.5s;
  background: #FFFF00;
  border-color: #588bae;
}

#fractal {
  padding: 10px;
}

#buttonnav{
  display:block;
  float:right;
  padding:10px;
  display: none;
}

#yoloForm input[type = Number]:focus{
  width: 25%;
  height: 30px;
  font-size: 15px;
  border-color: red;
  border-radius: 5px;
}

#fractalGenerator input[type = Number]{
  width: 10%;
  margin:15px;
  height: 30px;
  font-size: 15px;
  transition:0.5s;
  border-color: #588bae;
}

.centreContainer{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  background:#ADD8E6;
}

@media (max-width: 1090px) {
  nav ul li {
    display: flex;
    transition: 0.5s;
    font-size: 30px;
    margin: 8px;
    padding: 22px;
  }
  nav ul li:hover:not(.selected){
    font-size: 35px;
  }
  nav{
    display:flex;
  }

  nav ul{
    padding-right: 0px;
    margin-right: 0px;
  }

  #buttonnav{
    display:block;
  }
  #buttonnav img{
    height:50px;
  }
}
