@media (max-width: 525px) {
    #messages {
        width: 380px !important;
        height: 564px !important;
    }

    #messageBox {
        width: auto;
        float: right;
        width: 68.5%;
        margin-right: 3%;
    }

    label#name {
        font-size: 14px;
    }

    div.beemoviescriptbutton br {
        font-size: 4px;
    }

    #buttonToClick img {
        width: 33px;
        margin-left: -6px;
    }

    #newConvo {
        width: 86%;
        font-size: 15px;
        height: 35px;
        padding-top: 1px;
    }

    #newConvo #inputnewcontact {
        width: 142.5px;
        height: 20px;
    }

    #newConvo input#submitnewcontact {
        height: 10px;
    }

    #newConvo in #messageBox input[type='text'] {
        width: 70%;
    }

    #message {
        margin-left: 10px;
        margin-right: 10px;
        clear: both;
        width: 50%;
        margin-top: 2px;
        ;
        margin-bottom: 2px;
        border-radius: 10px;
        padding: 3px;
    }

    p.right {
        /* text-align: right; */
        float: right;
        background-color: #ffb101;
    }

    p.left {
        /* text-align: left; */
        float: left;
        background-color: black;
        color: white;
    }

    #selectContact {
        width: 87px;
    }

    .dropdown>.caption {
        font-size: 12.5px;
        background-color: #f2f2f2;
        padding: 6px 6px;
        border-radius: 3px;
        cursor: pointer;
    }

    .dropdown>.list {
        position: absolute;
        background-color: #f2f2f2;
        border-radius: 0 0 3px 3px;
    }

    .dropdown>.list>.item {
        padding: 3px 6px;
        padding-bottom: 6px;
        padding-top: 6px;
        font-size: 10px;
        cursor: pointer;
        word-wrap: break-word;
    }
}