* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url('https://pyxis.nymag.com/v1/imgs/e06/4aa/f4afcaeedf9340ddf37323bb12aadc7f11-01-ya-like-jazz.rsquare.w330.jpg');
}

#homelabel {
    display: block;
    /* add this */
    padding: 5px;
    text-align: center;
    ;
}

#currentusers {
    display: block;
    /* add this */
    padding: 5px;
    text-align: center;
    ;
}

.formvalidator {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9fafb;
    padding-top: 0px;
    min-height: 50vh;
    margin: 0 auto;
}

.wrapper {
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

.container {
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    overflow: auto;
}

.containerleft {
    margin: 10px auto;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 190px;
    height: 50px;
    overflow: auto;
    display: inline-block;
}

span.numbers {
    font-family: monospace;
    font-size: 130%;
}

.containerright {
    margin: 10px auto;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 190px;
    height: 50px;
    overflow: auto;
    display: inline-block;
}

.containerright #currentversion {
    vertical-align: middle;
}

#messages {
    width: 700px !important;
    height: 850px !important;
}

#messageBox {
    width: auto;
    float: right;
    width: 70%;
    margin-right: 2%;
}

#messageBox input[type='text'] {
    width: 80%;
}

#message {
    margin-left: 10px;
    margin-right: 10px;
    clear: both;
    width: 50%;
    margin-top: 2px;
    ;
    margin-bottom: 2px;
    border-radius: 10px;
    padding: 3px;
}

p.right {
    /* text-align: right; */
    float: right;
    background-color: #ffb101;
}

p.left {
    /* text-align: left; */
    float: left;
    background-color: black;
    color: white;
}

.register {
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    margin: 0 0 20px;
    color: #ffba33;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #ffba33;
    border: 2px solid #ffba33;
    border-radius: 4px;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    transition: .3s;
}

.hover:hover {
    font-size: 20px;
}

footer {
    position: relative;
    text-align: center;
}

a:not(.beemoviescript) {
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    color: #ffba33;
}

a.beemoviescript {
    color: black;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #ffba33;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #ffba33;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f5a142;
}

/* ---- */
img.logo {
    line-height: 50px;
    font-size: 22px;
    color: white;
    padding: 0 30px;
    font-weight: bold;
}

/* Ignore the checkbutton stuff for now - not using it yet */
.checkbutton {
    color: white;
    float: right;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 525px) {
    nav ul li a img {
        /* display: none; */
    }

    nav ul li a {}

    .navtop {
        margin-left: 20%;
        margin-right: 17%;
    }

    .logo {
        width: 60%;
        height: auto;
        display: flex;
        margin: auto;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        content: "\A";
    }

    img.logo {
        line-height: 30px;
        font-size: 10px;
        color: white;
        padding: 0 30px;
        font-weight: bold;
    }

    .homelink1 img {
        display: inline-block;
    }

    nav ul li a:not(.homelink1) {
        display: block;
    }

    /*Stuff i added: */
    /* .checkbutton {
        display: block;
    } */
    /* nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    } */
    /*
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 18px;
    }

    a:hover {
        background: none;
    }

    #check:checked~ul {
        left: 0;
    } */
}

/* ---- */
#mainMessenger {
    width: 100%;
}

#messagesList {
    width: 70%;
    float: right;
    height: 70%;
    border-style: solid;
    border-color: grey;
    margin: 2%;
    overflow-y: scroll;
    background-color: #eeeeee;
}

#selectContact {
    width: 22%;
    float: left;
    height: 75%;
    margin-left: 3%;
}

#inputnewcontact {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#newConvo {
    font-size: 17px;
    font-weight: normal;
    margin: 0px 30px 0px 30px;
    padding-top: 13px;
    padding-bottom: 0.1px;
    background-color: #ffba33;
    border-radius: 25px;
    padding-left: 30px !important;
}

#name {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #ffba33;
    border-radius: 25px;
}
